<tr>
  <td><%= reservation.city %></td>
  <td><%= reservation.arrival_date %></td>
  <td><%= link_to "Show", reservation %></td>
  <td><%= link_to "Edit", edit_reservation_path(reservation) %></td>
  <td><%= link_to "Cancel", reservation, method: :delete, 
    data: { confirm: "Are you sure?" } %></td>
</tr>
